.P-login {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    background: #7adbcb;
    padding-top: 50px;

    .ipt-con {
        margin: 30px auto;
        width: 60%;
        text-align: center;
    }
}
